@use '../base/' as *

.mosaic
  display: flex
  flex-flow: row wrap
  justify-content: space-between
  align-content: flex-start  

.card
  position: relative
  width: min(60vh, 25rem)
  height: min(calc(60vh + 5rem), 30rem)
  overflow: hidden
  border: 1px solid $c_txt_contrast

.card__img
  width: min(60vh, 25rem)
  max-height: min(60vh, 25rem)
  object-fit: cover
  object-position: center

.card__character
  padding: 1rem 1.5rem
  font-size: 1.9rem
  font-weight: 600
  line-height: 3rem
  color: $c_txt_darkbluish
  background-color: $c_txt_highlighted
  &:hover
    color: $c_txt_white
    background-color: $c_txt_contrast

.card__actor
  margin: 0
  padding: 0
  font-size: 1.65rem
  font-weight: 600
  color: $c_txt_highlighted
  text-align: center


.card__description
  margin: 1rem 0
  color: $c_txt_lightbluish
  text-align: left
  transform: translateY(50%)
  &:hover,
  &:focus
    transform: translateY(0%)

.card__character
  font-size: 1.8rem
  font-family: $fserif
  color: $c_txt_lightbluish
  text-align: center