@use '../base/' as *

.list
  color: $c_txt_white
  list-style: none
  display: flex
  flex-flow: column nowrap
  justify-content: flex-start
  align-items: center
  padding: 2.5rem 0
  &::before
    content: ''
    width: 80%
    border-bottom: 1px solid $c_txt_lightbluish
  &::after
    content: ''
    width: 80%
    border-top: 1px solid $c_txt_lightbluish

.list__item
  width: 80%
  display: flex
  flex-flow: row wrap
  justify-content: flext-start
  align-items: flex-start
  @include smallDevices
    flex-flow: column nowrap
    align-items: center
    width: 100%

.list__item-number
  color: $c_txt_lightbluish
  position: relative
  width: 2rem
  margin: 1.5rem 2rem 1.5rem
  transform: translate(0, .5rem)
  @include smallDevices
    align-self: flex-start
  &::after
    content: ''
    padding: 1.5rem
    border: 1px solid $c_txt_lightbluish
    border-radius: 50%
    position: absolute
    left: -1.2rem
    top: -.6rem

.list__item-body
  width: 100%
  align-self: flex-start

.list__item-title
  color: $c_txt_white
  font-weight: 800
  letter-spacing: .04rem
  padding: .8rem 0 .5rem 0

.list__item-text
  color: $c_txt_white
  padding: 0 0 .8rem 0
