@use '../base/' as *

.title--standard
  padding: 0
  color: $c_txt_title

.title--secondary
  padding: 0
  font-size: clamp($fsize_standard, $fsize_m + 1vw, $fsize_l)
  color: $c_txt_lightbluish

.title
  display: flex
  flex-flow: column nowrap
  align-items: center
  justify-content: flex-start
