@use '../base/' as *

.title--standard
  padding: 0
  color: $c_txt_title

.title--secondary
  padding: 0
  font-size: clamp($fsize_standard, $fsize_m + 1vw, $fsize_l)
  color: $c_txt_lightbluish

.title
  display: flex
  flex-flow: column nowrap
  align-items: center
  justify-content: flex-start

.video__container
  position: relative
  width: 100%
  margin: 0
  padding: 0
  padding-bottom: 56.25%

.video__iframe
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  aspect-ratio: 16/9