@use '../base/' as *
  
body
  background-color: $c_bg_dark

.main_container
  margin: 0 auto
  @include wearables
    width: 100vw
  @include phones
    width: 98vw
  @include tablets
    width: 95vw
  @include noHD
    width: 92vw
  @include SHD
    width: 88vw
  @include QHD
    width: 84vw
  @include HD4K
    width: 3840px
