@use '../base/' as *
  
.width-container
  width: 100%
  margin: 0 auto
  background-color: $c_bg_dark
  @include smallDevices
    width: min(100vw, 75rem)
  @include mediumDevices
    width: min(83vw, 90rem)
  @include largeDevices
    width: min(74vw, 110rem)
  @include xlargeDevices
    width: min(60vw, 160rem)

html
  background-color: $c_bg_dark